In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [80]:
import pandas as pd
df_dev = pd.read_csv('drive/MyDrive/Colab Notebooks/development.tsv',sep = '\t')
df_eval = pd.read_csv('drive/MyDrive/Colab Notebooks/evaluation.tsv',sep = '\t')

In [81]:
df_dev.head()

   beer/ABV  ... user/profileName
0      5.70  ...       goblue3509
1      9.99  ...      Lounge14ABV
2      5.35  ...        DogFood11
3      8.00  ...  BasementDweller
4      7.00  ...      OneDropSoup

[5 rows x 14 columns]

In [82]:
df_eval.head()

   beer/ABV                       beer/name  ... user/gender  user/profileName
0       5.1                     Roxy Rolles  ...         NaN     lilbrewmonkey
1      10.0                    Burton Baton  ...         NaN          Tripphop
2       5.6                   Old #38 Stout  ...        Male        beerguy101
3       7.2                Indian Brown Ale  ...        Male         terrabyte
4       3.6  Greene King IPA Draught Bitter  ...        Male           ngandhi

[5 rows x 13 columns]

In [83]:
df_dev.describe()

           beer/ABV  review/appearance  ...  user/ageInSeconds  user/birthdayUnix
count  66893.000000       70000.000000  ...       1.464500e+04       1.464500e+04
mean       7.043462           3.845914  ...       1.192574e+09       2.257617e+08
std        2.300757           0.611478  ...       3.592932e+08       3.592932e+08
min        0.300000           1.000000  ...       6.430430e+08      -2.208960e+09
25%        5.250000           3.500000  ...       9.837182e+08       1.198620e+08
50%        6.500000           4.000000  ...       1.107439e+09       3.108960e+08
75%        8.500000           4.000000  ...       1.298473e+09       4.346172e+08
max       41.000000           5.000000  ...       3.627295e+09       7.752924e+08

[8 rows x 8 columns]

In [84]:
df_eval.describe()

           beer/ABV  review/appearance  ...  user/ageInSeconds  user/birthdayUnix
count  28715.000000       30000.000000  ...       6.272000e+03       6.272000e+03
mean       7.013776           3.841167  ...       1.191678e+09       2.266572e+08
std        2.296975           0.607496  ...       3.667153e+08       3.667153e+08
min        0.050000           1.000000  ...       5.467934e+08      -2.208960e+09
25%        5.200000           3.500000  ...       9.830270e+08       1.197108e+08
50%        6.500000           4.000000  ...       1.102601e+09       3.157344e+08
75%        8.500000           4.000000  ...       1.298625e+09       4.353084e+08
max       41.000000           5.000000  ...       3.627295e+09       8.715420e+08

[8 rows x 7 columns]

In [85]:
df_dev.isna().any(axis=0)

beer/ABV              True
beer/name            False
beer/style           False
review/appearance    False
review/aroma         False
review/overall       False
review/palate        False
review/taste         False
review/text           True
user/ageInSeconds     True
user/birthdayRaw      True
user/birthdayUnix     True
user/gender           True
user/profileName      True
dtype: bool

In [86]:
df_dev.isnull().sum()

beer/ABV              3107
beer/name                0
beer/style               0
review/appearance        0
review/aroma             0
review/overall           0
review/palate            0
review/taste             0
review/text             18
user/ageInSeconds    55355
user/birthdayRaw     55355
user/birthdayUnix    55355
user/gender          41819
user/profileName        14
dtype: int64

In [87]:
df_eval.isnull().sum()

beer/ABV              1285
beer/name                0
beer/style               0
review/appearance        0
review/aroma             0
review/palate            0
review/taste             0
review/text              4
user/ageInSeconds    23728
user/birthdayRaw     23728
user/birthdayUnix    23728
user/gender          17870
user/profileName         3
dtype: int64

In [88]:
df = pd.concat([df_dev, df_eval], sort=False)
len(df_dev), len(df_eval), len(df)

(70000, 30000, 100000)

In [89]:
df.isna().any(axis=0)

beer/ABV              True
beer/name            False
beer/style           False
review/appearance    False
review/aroma         False
review/overall        True
review/palate        False
review/taste         False
review/text           True
user/ageInSeconds     True
user/birthdayRaw      True
user/birthdayUnix     True
user/gender           True
user/profileName      True
dtype: bool

In [90]:
df.isnull().sum()

beer/ABV              4392
beer/name                0
beer/style               0
review/appearance        0
review/aroma             0
review/overall       30000
review/palate            0
review/taste             0
review/text             22
user/ageInSeconds    79083
user/birthdayRaw     79083
user/birthdayUnix    79083
user/gender          59689
user/profileName        17
dtype: int64

In [91]:
(df[df["user/ageInSeconds"].isna()].index == df[df["user/birthdayRaw"].isna()].index).all(),\
(df[df["user/ageInSeconds"].isna()].index == df[df["user/birthdayUnix"].isna()].index).all(),\
(df[df["user/birthdayRaw"].isna()].index == df[df["user/birthdayUnix"].isna()].index).all()

(True, True, True)

In [92]:
from sklearn.model_selection import train_test_split

df_dropped = df.drop(columns=["beer/name", "beer/style", "beer/ABV", "review/text","user/ageInSeconds" ,"user/birthdayRaw", "user/birthdayUnix", "user/gender", "user/profileName"])

train_valid_mask = ~df_dropped["review/overall"].isna()

X = df_dropped.drop(columns=["review/overall"]).values

y = df_dropped["review/overall"].values

X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
reg = RandomForestRegressor(100)
reg.fit(X_train , y_train)
r2_score(y_valid, reg.predict(X_valid))

0.6590498221111216

In [93]:
df["user/ageInSeconds"]. fillna(7.043462, inplace=True)

In [94]:
df.head()

   beer/ABV  ... user/profileName
0      5.70  ...       goblue3509
1      9.99  ...      Lounge14ABV
2      5.35  ...        DogFood11
3      8.00  ...  BasementDweller
4      7.00  ...      OneDropSoup

[5 rows x 14 columns]

In [95]:
df.isnull().sum()

beer/ABV              4392
beer/name                0
beer/style               0
review/appearance        0
review/aroma             0
review/overall       30000
review/palate            0
review/taste             0
review/text             22
user/ageInSeconds        0
user/birthdayRaw     79083
user/birthdayUnix    79083
user/gender          59689
user/profileName        17
dtype: int64

In [96]:
df["beer/ABV"]. fillna(7.043462, inplace=True)

In [97]:
df.isnull().sum()

beer/ABV                 0
beer/name                0
beer/style               0
review/appearance        0
review/aroma             0
review/overall       30000
review/palate            0
review/taste             0
review/text             22
user/ageInSeconds        0
user/birthdayRaw     79083
user/birthdayUnix    79083
user/gender          59689
user/profileName        17
dtype: int64

In [98]:
from sklearn.model_selection import train_test_split

df_dropped = df.drop(columns=["beer/ABV","user/gender", "beer/style","user/ageInSeconds","beer/name", "review/text", "user/profileName","user/birthdayRaw","user/birthdayUnix"])

train_valid_mask = ~df_dropped["review/overall"].isna()

feature_names = df_dropped[train_valid_mask].drop(columns=["review/overall"]).columns

X = df_dropped.drop(columns=["review/overall"]).values

y = df_dropped["review/overall"].values

X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True, random_state=42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
reg = RandomForestRegressor(100, random_state=42)
reg.fit(X_train , y_train)
r2_score(y_valid, reg.predict(X_valid))

0.6573432880926039

In [99]:
df["user/birthdayRaw"]. fillna(0, inplace=True)

In [100]:
from sklearn.model_selection import train_test_split

df_dropped = df.drop(columns=["beer/ABV","user/gender", "beer/style","user/ageInSeconds","beer/name", "review/text", "user/profileName","user/birthdayRaw","user/birthdayUnix"])

train_valid_mask = ~df_dropped["review/overall"].isna()

feature_names = df_dropped[train_valid_mask].drop(columns=["review/overall"]).columns

X = df_dropped.drop(columns=["review/overall"]).values

y = df_dropped["review/overall"].values

X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True, random_state=42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
reg = RandomForestRegressor(100, random_state=42)
reg.fit(X_train , y_train)
r2_score(y_valid, reg.predict(X_valid))

0.6573432880926039

In [101]:
sorted(zip(feature_names, reg.feature_importances_), key=lambda x: x[1], reverse=True)

[('review/taste', 0.8966925724185741),
 ('review/palate', 0.05732173520524936),
 ('review/appearance', 0.023338935346328145),
 ('review/aroma', 0.02264675702984824)]

In [102]:
df.isnull().sum()

beer/ABV                 0
beer/name                0
beer/style               0
review/appearance        0
review/aroma             0
review/overall       30000
review/palate            0
review/taste             0
review/text             22
user/ageInSeconds        0
user/birthdayRaw         0
user/birthdayUnix    79083
user/gender          59689
user/profileName        17
dtype: int64

In [103]:
df["user/birthdayUnix"]. fillna(0, inplace=True)

In [104]:
df_1h = pd.get_dummies(df, columns=["user/gender"])

from sklearn.model_selection import train_test_split

df_dropped = df_1h.drop(columns=["beer/ABV","beer/style","user/ageInSeconds","beer/name", "review/text", "user/profileName","user/birthdayRaw","user/birthdayUnix"])

train_valid_mask = ~df_dropped["review/overall"].isna()

feature_names = df_dropped[train_valid_mask].drop(columns=["review/overall"]).columns

X = df_dropped.drop(columns=["review/overall"]).values

y = df_dropped["review/overall"].values

X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True, random_state=42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
reg = RandomForestRegressor(100, random_state=42)
reg.fit(X_train , y_train)
r2_score(y_valid, reg.predict(X_valid))

0.651063296151476

In [105]:
sorted(zip(feature_names, reg.feature_importances_), key=lambda x: x[1], reverse=True)

[('review/taste', 0.876924277608148),
 ('review/palate', 0.0570262916098255),
 ('review/appearance', 0.027414773205761064),
 ('review/aroma', 0.026666665486892276),
 ('user/gender_Male', 0.009600041499715214),
 ('user/gender_Female', 0.00236795058965803)]

In [106]:
df["user/gender"]. fillna(0, inplace=True)

In [107]:


from sklearn.model_selection import train_test_split

df_dropped = df.drop(columns=["user/gender", "beer/ABV","beer/style","user/ageInSeconds","beer/name", "review/text", "user/profileName","user/birthdayRaw","user/birthdayUnix"])

train_valid_mask = ~df_dropped["review/overall"].isna()

feature_names = df_dropped[train_valid_mask].drop(columns=["review/overall"]).columns

X = df_dropped.drop(columns=["review/overall"]).values

y = df_dropped["review/overall"].values

X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True, random_state=42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
reg = RandomForestRegressor(100, random_state=42)
reg.fit(X_train , y_train)
r2_score(y_valid, reg.predict(X_valid))

0.6573432880926039

In [108]:
df_1h = pd.get_dummies(df, columns=["beer/style"])

from sklearn.model_selection import train_test_split

df_dropped = df_1h.drop(columns=["user/gender", "user/ageInSeconds","beer/name", "review/text", "user/profileName","user/birthdayRaw","user/birthdayUnix"])

train_valid_mask = ~df_dropped["review/overall"].isna()

feature_names = df_dropped[train_valid_mask].drop(columns=["review/overall"]).columns

X = df_dropped.drop(columns=["review/overall"]).values

y = df_dropped["review/overall"].values

X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True, random_state=42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
reg = RandomForestRegressor(100, random_state=42)
reg.fit(X_train , y_train)
r2_score(y_valid, reg.predict(X_valid))

0.6183739102365546

In [109]:
df_1h = pd.get_dummies(df, columns=["beer/style"])

from sklearn.model_selection import train_test_split

df_dropped = df_1h.drop(columns=["beer/ABV", "user/gender", "user/ageInSeconds","beer/name", "review/text", "user/profileName","user/birthdayRaw","user/birthdayUnix"])

train_valid_mask = ~df_dropped["review/overall"].isna()

feature_names = df_dropped[train_valid_mask].drop(columns=["review/overall"]).columns

X = df_dropped.drop(columns=["review/overall"]).values

y = df_dropped["review/overall"].values

X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True, random_state=42)

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
reg = RandomForestRegressor(100, random_state=42)
reg.fit(X_train , y_train)
r2_score(y_valid, reg.predict(X_valid))

0.6238278786296673

In [110]:
df["user/profileName"]. fillna("sina", inplace=True)

In [111]:
df.isnull().sum()

beer/ABV                 0
beer/name                0
beer/style               0
review/appearance        0
review/aroma             0
review/overall       30000
review/palate            0
review/taste             0
review/text             22
user/ageInSeconds        0
user/birthdayRaw         0
user/birthdayUnix        0
user/gender              0
user/profileName         0
dtype: int64

In [112]:
from sklearn.feature_extraction.text import TfidfVectorizer
#stop_words = ["beer", 'and', "the", "english","to", "is", "this","but","in","that", "for", "on", "some", "that"]
vectorizer = TfidfVectorizer(stop_words = "english", binary=True, use_idf=False, norm=False)
wpm = vectorizer.fit_transform(df_1h["review/text"].fillna(""))

In [113]:
N = 150
freq = sorted(zip(vectorizer.get_feature_names(), wpm.sum(axis=0).tolist()[0]), key=lambda x: x[1], reverse=True)[:N]
freq

[('head', 84804.0),
 ('beer', 59347.0),
 ('taste', 53629.0),
 ('good', 41768.0),
 ('carbonation', 41411.0),
 ('nice', 40343.0),
 ('light', 39120.0),
 ('malt', 39034.0),
 ('like', 38383.0),
 ('sweet', 38025.0),
 ('color', 36028.0),
 ('hops', 35578.0),
 ('aroma', 35383.0),
 ('pours', 34407.0),
 ('mouthfeel', 34276.0),
 ('flavor', 33136.0),
 ('lacing', 32767.0),
 ('white', 32523.0),
 ('finish', 31389.0),
 ('smell', 31181.0),
 ('bit', 31153.0),
 ('glass', 31149.0),
 ('bottle', 29701.0),
 ('medium', 29684.0),
 ('dark', 29129.0),
 ('little', 28542.0),
 ('body', 27705.0),
 ('poured', 26346.0),
 ('brown', 25834.0),
 ('just', 25310.0),
 ('hop', 23707.0),
 ('really', 21837.0),
 ('nose', 21637.0),
 ('smooth', 21625.0),
 ('caramel', 21131.0),
 ('bitterness', 20922.0),
 ('alcohol', 20634.0),
 ('great', 19711.0),
 ('notes', 18866.0),
 ('bitter', 18765.0),
 ('amber', 18623.0),
 ('overall', 18512.0),
 ('malts', 18183.0),
 ('sweetness', 18148.0),
 ('flavors', 17903.0),
 ('citrus', 17612.0),
 ('slightly', 17210.0),
 ('pretty', 17205.0),
 ('dry', 17073.0),
 ('orange', 16880.0),
 ('quite', 16842.0),
 ('bodied', 16719.0),
 ('drink', 16611.0),
 ('chocolate', 16474.0),
 ('creamy', 16166.0),
 ('style', 15986.0),
 ('clear', 15675.0),
 ('brew', 15447.0),
 ('drinkability', 15430.0),
 ('drinkable', 14922.0),
 ('slight', 14841.0),
 ('black', 14446.0),
 ('malty', 14003.0),
 ('finger', 13853.0),
 ('golden', 13685.0),
 ('strong', 13602.0),
 ('fruit', 13401.0),
 ('smells', 13368.0),
 ('appearance', 13311.0),
 ('big', 13250.0),
 ('ale', 13228.0),
 ('tan', 12676.0),
 ('roasted', 12521.0),
 ('hint', 12403.0),
 ('quickly', 12282.0),
 ('decent', 12115.0),
 ('coffee', 12089.0),
 ('lace', 11945.0),
 ('balanced', 11599.0),
 ('way', 11565.0),
 ('pint', 11361.0),
 ('feel', 11095.0),
 ('retention', 10873.0),
 ('deep', 10855.0),
 ('fruity', 10835.0),
 ('aftertaste', 10793.0),
 ('easy', 10662.0),
 ('leaves', 10515.0),
 ('mouth', 10424.0),
 ('better', 10416.0),
 ('yeast', 10409.0),
 ('mild', 10284.0),
 ('hazy', 10123.0),
 ('crisp', 10109.0),
 ('pale', 10086.0),
 ('beers', 10072.0),
 ('touch', 9944.0),
 ('ve', 9671.0),
 ('hoppy', 9629.0),
 ('tastes', 9592.0),
 ('time', 9564.0),
 ('bad', 9507.0),
 ('lots', 9473.0),
 ('think', 9440.0),
 ('palate', 9425.0),
 ('small', 9389.0),
 ('balance', 9381.0),
 ('definitely', 9357.0),
 ('hints', 9299.0),
 ('floral', 9285.0),
 ('abv', 9257.0),
 ('yellow', 9152.0),
 ('best', 9103.0),
 ('try', 9067.0),
 ('ipa', 8904.0),
 ('red', 8794.0),
 ('rich', 8777.0),
 ('lot', 8711.0),
 ('end', 8619.0),
 ('pour', 8517.0),
 ('spicy', 8477.0),
 ('high', 8426.0),
 ('clean', 8380.0),
 ('character', 8237.0),
 ('maybe', 8148.0),
 ('fairly', 7965.0),
 ('copper', 7919.0),
 ('solid', 7791.0),
 ('drinking', 7661.0),
 ('tap', 7580.0),
 ('complex', 7531.0),
 ('don', 7522.0),
 ('earthy', 7440.0),
 ('heavy', 7435.0),
 ('long', 7412.0),
 ('pine', 7385.0),
 ('tongue', 7382.0),
 ('aromas', 7338.0),
 ('fresh', 7273.0),
 ('spice', 7272.0),
 ('foam', 7225.0),
 ('cloudy', 7051.0),
 ('right', 7028.0),
 ('stout', 7017.0),
 ('moderate', 7015.0),
 ('bubbles', 6970.0),
 ('comes', 6929.0),
 ('oz', 6920.0),
 ('thanks', 6849.0),
 ('grapefruit', 6841.0)]

In [114]:
import numpy as np

words = [ word for word, _ in freq ]
mask = [ w in words for w in vectorizer.get_feature_names() ]
words_ = [ w for w in vectorizer.get_feature_names() if w in words ]
words_df = pd.DataFrame(data=wpm[:, np.array(mask)].toarray(), columns=[f"word_{word}" for word in words_], index=df_1h.index)

In [115]:
df_1h = df.join(pd.DataFrame(data=wpm[:, np.array(mask)].toarray(), columns=[f"word_{word}" for word in words_], index=df_1h.index))

df_dropped = df_1h.drop(columns=["user/gender", "beer/ABV","beer/style","user/ageInSeconds","beer/name", "review/text", "user/profileName","user/birthdayRaw","user/birthdayUnix"])

train_valid_mask = ~df_dropped["review/overall"].isna()
feature_names = df_dropped[train_valid_mask].drop(columns=["review/overall"]).columns
X = df_dropped.drop(columns=["review/overall"]).values
y = df_dropped["review/overall"].values
X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True, random_state=42)
reg = RandomForestRegressor(100, random_state=42)
reg.fit(X_train, y_train)
r2_score(y_valid, reg.predict(X_valid))

0.6715670883223617

In [116]:
y_valid.shape

(25000,)

In [117]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(stop_words = "english", binary=True, use_idf=False, norm=False)
wpm2 = vectorizer.fit_transform(df_1h["beer/name"].fillna(""))

In [118]:
N = 150
freq2 = sorted(zip(vectorizer.get_feature_names(), wpm2.sum(axis=0).tolist()[0]), key=lambda x: x[1], reverse=True)[:N]
freq2

[('ale', 38573.0),
 ('stout', 14006.0),
 ('ipa', 11472.0),
 ('pale', 9392.0),
 ('imperial', 7682.0),
 ('porter', 6465.0),
 ('lager', 5257.0),
 ('samuel', 4306.0),
 ('beer', 4244.0),
 ('black', 4110.0),
 ('old', 3701.0),
 ('double', 3689.0),
 ('india', 3637.0),
 ('red', 3544.0),
 ('adams', 3438.0),
 ('brown', 3397.0),
 ('hop', 2959.0),
 ('wheat', 2760.0),
 ('style', 2625.0),
 ('stone', 2418.0),
 ('amber', 2270.0),
 ('sierra', 2191.0),
 ('nevada', 2183.0),
 ('aged', 2132.0),
 ('oatmeal', 2094.0),
 ('bell', 2093.0),
 ('barrel', 2080.0),
 ('dark', 2048.0),
 ('winter', 1991.0),
 ('founders', 1984.0),
 ('white', 1860.0),
 ('st', 1790.0),
 ('bock', 1788.0),
 ('belgian', 1700.0),
 ('series', 1698.0),
 ('anniversary', 1652.0),
 ('saison', 1645.0),
 ('special', 1640.0),
 ('extra', 1606.0),
 ('chocolate', 1584.0),
 ('big', 1455.0),
 ('pilsner', 1429.0),
 ('blue', 1405.0),
 ('tripel', 1381.0),
 ('great', 1380.0),
 ('bourbon', 1364.0),
 ('golden', 1330.0),
 ('reserve', 1320.0),
 ('la', 1312.0),
 ('premium', 1234.0),
 ('lakes', 1223.0),
 ('brooklyn', 1203.0),
 ('rye', 1199.0),
 ('light', 1179.0),
 ('summer', 1156.0),
 ('pils', 1136.0),
 ('blonde', 1121.0),
 ('oak', 1109.0),
 ('smuttynose', 1099.0),
 ('harvest', 1079.0),
 ('original', 1074.0),
 ('weisse', 1057.0),
 ('pumpkin', 1035.0),
 ('wine', 1032.0),
 ('bitter', 1023.0),
 ('oktoberfest', 1019.0),
 ('coffee', 998.0),
 ('barley', 986.0),
 ('christmas', 977.0),
 ('smith', 966.0),
 ('anchor', 951.0),
 ('dog', 947.0),
 ('hefeweizen', 945.0),
 ('irish', 936.0),
 ('saranac', 935.0),
 ('barleywine', 919.0),
 ('heavy', 911.0),
 ('esb', 881.0),
 ('brew', 857.0),
 ('russian', 847.0),
 ('m', 816.0),
 ('bastard', 813.0),
 ('organic', 806.0),
 ('horse', 803.0),
 ('trappist', 803.0),
 ('harpoon', 796.0),
 ('scotch', 780.0),
 ('dunkel', 761.0),
 ('terrapin', 751.0),
 ('egs', 750.0),
 ('tr', 750.0),
 ('hefe', 745.0),
 ('doppelbock', 744.0),
 ('minute', 735.0),
 ('triple', 732.0),
 ('grand', 730.0),
 ('cream', 726.0),
 ('weizen', 724.0),
 ('new', 716.0),
 ('allagash', 699.0),
 ('abbey', 698.0),
 ('gold', 692.0),
 ('american', 665.0),
 ('weihenstephaner', 665.0),
 ('cru', 663.0),
 ('nut', 657.0),
 ('smoked', 657.0),
 ('honey', 644.0),
 ('seas', 641.0),
 ('green', 631.0),
 ('milk', 624.0),
 ('dubbel', 623.0),
 ('creek', 620.0),
 ('bernardus', 613.0),
 ('scottish', 590.0),
 ('raspberry', 589.0),
 ('wild', 588.0),
 ('cherry', 586.0),
 ('ayinger', 577.0),
 ('10', 576.0),
 ('12', 573.0),
 ('breakfast', 567.0),
 ('rzen', 563.0),
 ('holland', 560.0),
 ('king', 557.0),
 ('bier', 556.0),
 ('saint', 555.0),
 ('guinness', 553.0),
 ('du', 544.0),
 ('alesmith', 533.0),
 ('schneider', 529.0),
 ('cantillon', 513.0),
 ('high', 510.0),
 ('lambic', 510.0),
 ('fuller', 509.0),
 ('batch', 493.0),
 ('weissbier', 485.0),
 ('lagunitas', 483.0),
 ('moon', 479.0),
 ('chimay', 478.0),
 ('kriek', 474.0),
 ('dead', 473.0),
 ('young', 464.0),
 ('schlafly', 456.0),
 ('michelob', 455.0),
 ('river', 455.0),
 ('rochefort', 454.0),
 ('trappistes', 454.0),
 ('100', 453.0),
 ('farmhouse', 449.0)]

In [119]:
import numpy as np

words = [ word for word, _ in freq2 ]
mask = [ w in words for w in vectorizer.get_feature_names() ]
words_ = [ w for w in vectorizer.get_feature_names() if w in words ]
words_df = pd.DataFrame(data=wpm2[:, np.array(mask)].toarray(), columns=[f"word_{word}" for word in words_], index=df_1h.index)

In [120]:
df_1h = df.join(pd.DataFrame(data=wpm2[:, np.array(mask)].toarray(), columns=[f"word_{word}" for word in words_], index=df_1h.index))
df_dropped = df_1h.drop(columns=["user/gender", "beer/ABV","beer/style","user/ageInSeconds","beer/name", "review/text", "user/profileName","user/birthdayRaw","user/birthdayUnix"])

train_valid_mask = ~df_dropped["review/overall"].isna()
feature_names = df_dropped[train_valid_mask].drop(columns=["review/overall"]).columns
X = df_dropped.drop(columns=["review/overall"]).values
y = df_dropped["review/overall"].values
X_train_valid = X[train_valid_mask]
y_train_valid = y[train_valid_mask]
X_test = X[~train_valid_mask]
y_test = y[~train_valid_mask]
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, shuffle=True, random_state=42)
reg = RandomForestRegressor(100, random_state=42)
reg.fit(X_train, y_train)
r2_score(y_valid, reg.predict(X_valid))

0.7192349745510798

In [ ]:
#from sklearn.model_selection import GridSearchCV
#param_grid = {
#"n_estimators": [100, 250, 500],
#"criterion": ["mse", "mae"],
#"max_features": ["auto", "sqrt", "log2"],
#"random_state": [42], 
#"n_jobs": [-1], 
#}
#gs = GridSearchCV(RandomForestRegressor(), param_grid, scoring="r2", n_jobs=-1, cv=5)
#gs.fit(X_train_valid, y_train_valid)
#gs.best_score_

In [ ]:
#y_pred = gs.predict(X_test)
#pd.DataFrame(y_pred, index=df[~train_valid_mask].index).to_csv("output.csv", index_label="Id", header=["Predicted"])